@font-face {
    font-family:minecraft;
    src:local('Minecraft'),url(MinecraftFont.woff) format('woff')
}

* {
    font-family: 'Minecraft', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('images/canyoncraft.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    user-select: none;
}

h1, h2 {
    color: orange;
    transition: .5s; /* Animation */
}

h1 {
    font-size: 5ch;
    margin: 0;
}

h1:hover, h2:hover, p:hover {
    cursor: default;
}

h1:hover {
    text-shadow: 0 0 4px orange

}

h2:hover {
    text-shadow: 0 0 2px orange
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    font-size: larger;
}

img {
    width: 5%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

br {
    display: block;
    margin: 10px 0;
 }

#headers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content-bg {
    background-color: rgba(255, 255, 255, 0.449);
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-radius: 10px;
}

#map {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img {
    margin-top: 50px;
    height: 100px;
    width: auto;
    transition: transform .2s; /* Animation */
}

img:hover {
    transform: scale(1.5);
}



@media only screen and (max-width: 600px) {
    #content-bg {
        margin-left: 3%;
        margin-right: 3%;
        padding: 10px;
        border-radius: 10px;
    }
  }